@use "_variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    text-decoration: none;
}

body{
    background-color: $background-color;
    height: 100vh;
    width: 100vw;
}

header{
    width: 100%;
}

menu{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
}

.logo-nav{
    padding-left: 2em;
    font-weight: 400;
    font-size: 25px;
    background: none;
    a{
        h1{
            font-weight: 400;
            font-size: 25px;
        }
    }
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    height: 100%;
    .nav-item{
        margin-left: 10px;
        border-radius: 30px;
        padding: 10px 10px;
        transition: 0.2s;
        &:hover{
            background-color: rgba(99, 99, 99, 0.3);
        }
        
        a{
            font-size: 14px;
        }
    }
}

main{
    width: 100%;
    height: calc(100vh - 76px);
}

.main-content{
    display: flex;
    width: 100%;
    height: 100%;
}

.main{
    align-self: center;
    width: 50;
    padding-top: 50px;
    height: max-content;
    padding-left: 100px;
    h1{
        text-wrap: balance;
        font-size: 60px;
    }
}

.subtitle{
    width: 30%;
    padding-top: 25px;
    p{
        font-size: 20px;
    }
}

.image{
    align-self: flex-start;
    background: url(../images/Ride-with-Uber.webp) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 100vh;
    width: 40%;
    margin-right: 100px;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 20px;
    input{
        color: black;
        margin-bottom: 10px;
        padding: 15px;
        padding-left: 25px;
        border: 1px solid black;
        border-radius: 10px;
    }
}